.toast {
    text-align: center!important;
}
.success .toast-message {
    background-color: rgb(87, 212, 139)!important;
}
.error .toast-message{
    background-color: rgb(212, 87, 87)!important;
}
.btn-wrapper {
    text-align: center;
}
.scroll-content {
    padding-bottom:0!important;
}